.product-display {
    position: relative;
  }
  
  .product-display .product-img-container {
    width: 100%;
    height: 60vh;
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure Swiper is interactive */
    overflow: hidden;
  }
  
  .product-display .product-img-container img {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  
  .product-display .product-info {
    background: white;
    padding: 1rem;
    position: relative;
    z-index: 2; /* Content scrolls over the images */
  }
  


.product-display .product-info div{
    margin-block: 0.5rem;
}

.product-display .product-brand{
    font-weight: 500;
}

.product-display .product-prices{
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    
}
.product-display .product-prices .product-old-price{
    font-size: 1rem;
    font-weight: 300;
    text-decoration: line-through;
    color: var(--colors-actions-ghost-dark-hover-label);

}
.product-display .product-prices .product-new-price{
    font-size: 1rem;
    font-weight: 500;
}



.product-display .product-add-to-wishlist{
    border: none;
    background: transparent;
    position: absolute;
    top: calc(2.5% + 1rem);
    right: 5%;
    height: 1.5rem; /*  Same height  */
    width: 1.5rem;  /*  Same height  */
    cursor: pointer;
}

.product-display .product-add-to-wishlist i{
    position: absolute;
    inset: 0;
    font-size: 1.5rem; /*  Same height  */
    transition: opacity 0.3s ease;
    cursor: pointer;
}

  /* When the product is NOT on the wishlist (empty heart visible) */
  .product-display .product-add-to-wishlist .bx-heart.active {
    opacity: 1;
  }
  
  .product-display .product-add-to-wishlist .bxs-heart.inactive {
    opacity: 0;
  }
  
  /* When the product IS on the wishlist (filled heart visible) */
  .product-display .product-add-to-wishlist .bx-heart.inactive {
    opacity: 0;
  }
  
  .product-display .product-add-to-wishlist .bxs-heart.active {
    opacity: 1;
  }






.product-display .select-size{
    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-radius: 0.5rem;
    align-content: center;
    padding-inline: 1rem;
    color: var(--colors-actions-ghost-dark-hover-label);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.product-display .select-size .bx-chevron-down{
    padding: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 0;
    display: inline-block;
    font-size: 1.5rem;
    color: black;
}


.product-display .add-to-bag{
  width: 100%;
  background: black;
  color: white;
  padding-block: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  align-content: center;
  vertical-align: middle;
  border: 1px solid black;
  transition: .3s ease;
}

.product-display .add-to-bag:hover{
  background: white;
  color: black;
}



.product-display .size{
  font-weight: 600;
  color: rgb(66, 66, 66);
}