.product-display {
  position: relative;
}

.product-display__img-container {
  width: 100%;
  height: 60vh;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.product-display__img-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.product-display__info {
  background: #ffffff;
  padding: 1rem;
  position: relative;
  z-index: 2;
}

.product-display__info div {
  margin-block: 0.5rem;
}

.product-display__brand {
  font-weight: 500;
}

.product-display__prices {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.product-display__old-price {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: line-through;
  color: var(--colors-actions-ghost-dark-hover-label);
}

.product-display__new-price {
  font-size: 1rem;
  font-weight: 500;
}

.product-display__add-to-wishlist {
  border: none;
  background: transparent;
  position: absolute;
  top: calc(2.5% + 1rem);
  right: 5%;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.product-display__add-to-wishlist i {
  position: absolute;
  inset: 0;
  font-size: 1.5rem;
  transition: opacity 0.3s ease;
}

.product-display__add-to-wishlist .bx-heart.active {
  opacity: 1;
}

.product-display__add-to-wishlist .bxs-heart.inactive {
  opacity: 0;
}

.product-display__add-to-wishlist .bx-heart.inactive {
  opacity: 0;
}

.product-display__add-to-wishlist .bxs-heart.active {
  opacity: 1;
}

.product-display__select-size {
  width: 100%;
  height: 35px;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-inline: 1rem;
  color: var(--colors-actions-ghost-dark-hover-label);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.product-display__select-size .bx-chevron-down {
  font-size: 1.5rem;
  color: black;
}

.product-display__add-to-bag {
  width: 100%;
  background: black;
  color: white;
  padding-block: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  transition: 0.3s ease;
}

.product-display__add-to-bag:hover {
  background: white;
  color: black;
}

.product-display__size {
  font-weight: 600;
  color: rgb(66, 66, 66);
}
